<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!--begin Header-->
    <app-header></app-header>
    <!--end Header-->
    <!-- wrapper start -->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!--begin sidebar-->
      <app-sidebar></app-sidebar>
      <!--end sidebar-->
      <div class="wrapper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="col-md-12 mb-5">
                <div
                  class="card-header d-flex justify-content-between align-items-center py-5 gap-2 gap-md-5"
                >
                  <div class="card-title">
                    <div
                      class="d-flex align-items-center position-relative my-1"
                    >
                      <i
                        class="ki-outline ki-magnifier fs-3 position-absolute ms-4"
                      ></i>
                      <input
                        type="text"
                        data-kt-ecommerce-product-filter="search"
                        class="form-control form-control-solid w-250px ps-12"
                        placeholder="Rechercher une région"
                        [(ngModel)]="searchTextadministrateur"
                      />
                    </div>
                  </div>
                  <div
                    class="card-toolbar flex-row-fluid gap-5 d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex gap-2">
                      <div class="w-100 mw-150px">
                        <select
                          class="form-select form-select-solid"
                          [(ngModel)]="itemsPerPageadministrateurs"
                          (ngModelChange)="paginateadministrateurs()"
                          (change)="changeItemsPerPageadministrateurs($event)"
                        >
                          <option [value]="5">5</option>
                          <option [value]="10">10</option>
                          <option [value]="25">25</option>
                          <option [value]="50">50</option>
                          <option [value]="75">75</option>
                          <option [value]="100">100</option>
                        </select>
                      </div>
                    </div>
                    <div><h3>Chanceliers</h3></div>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <table class="table align-middle table-row-dashed fs-6 gy-5">
                    <thead>
                      <tr
                        class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0"
                      >
                        <th class="min-w-200px"><h4>Nom</h4></th>
                        <th class="min-w-200px"><h4>Email</h4></th>
                      </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                      <tr
                        *ngFor="
                          let administrateur of paginatedadministrateurs
                            | search : searchTextadministrateur
                        "
                      >
                        <td class="text-gray-800 fs-5 fw-bold">
                          {{ administrateur.username }}
                        </td>
                        <td class="text-gray-800 fs-5 fw-bold">
                          {{ administrateur.email }}
                        </td>
                      </tr>
                      <tr *ngIf="paginatedadministrateurs.length === 0">
                        <td colspan="1" class="text-center">
                          <span class="text-gray-600">
                            <h3>Aucune donnée disponible pour cette table.</h3>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-between">
                    <div class="fs-6 fw-semibold text-gray-700">
                      Affichage de
                      {{
                        (currentPageadministrateurs - 1) *
                          itemsPerPageadministrateurs +
                          1
                      }}
                      à
                      {{
                        currentPageadministrateurs *
                          itemsPerPageadministrateurs >
                        paginatedadministrateurs.length
                          ? paginatedadministrateurs.length
                          : currentPageadministrateurs *
                            itemsPerPageadministrateurs
                      }}
                      sur {{ paginatedadministrateurs.length }} entrées
                    </div>
                    <ul class="pagination">
                      <li
                        class="page-item previous"
                        [class.disabled]="currentPageadministrateurs === 1"
                      >
                        <span
                          class="page-link"
                          (click)="previousPageadministrateurs()"
                          [style.cursor]="
                            currentPageadministrateurs === 1
                              ? 'not-allowed'
                              : 'pointer'
                          "
                        >
                          <i class="previous"></i> Précédent
                        </span>
                      </li>
                      <li
                        class="page-item"
                        *ngFor="let page of getPagesadministrateurs()"
                        [class.active]="page === currentPageadministrateurs"
                      >
                        <span
                          class="page-link"
                          (click)="goToPageadministrateurs(page)"
                          [style.cursor]="
                            page === currentPageadministrateurs
                              ? 'default'
                              : 'pointer'
                          "
                        >
                          {{ page }}
                        </span>
                      </li>
                      <li
                        class="page-item next"
                        [class.disabled]="
                          currentPageadministrateurs ===
                          totalPagesadministrateurs
                        "
                      >
                        <span
                          class="page-link"
                          (click)="nextPageadministrateurs()"
                          [style.cursor]="
                            currentPageadministrateurs ===
                            totalPagesadministrateurs
                              ? 'not-allowed'
                              : 'pointer'
                          "
                        >
                          Suivant <i class="next"></i>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="administrateurChartDiv"></div>
            </div>
          </div>
        </div>
        <div class="page-inner"></div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- Footer -->

        <!-- Content End -->
      </div>
    </div>
  </div>
</div>
