<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert" class="custom-alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<div
  class="modal fade"
  tabindex="-1"
  id="kt_modal_create_citoyen"
  aria-hidden="true"
>
  <!--begin Modal dialog-->
  <div class="modal-dialog modal-dialog-centered mw-900px">
    <!--begin Modal content-->
    <div class="modal-content">
      <form
        (ngSubmit)="onSubmit()"
        novalidate="novalidate"
        [formGroup]="citoyenForm"
        id="kt_modal_create_app_form"
      >
        <!-- novalidate="novalidate" -->
        <!--begin Modal header-->
        <div class="modal-header">
          <!--begin Close-->
          <div
            class="btn btn-sm btn-icon btn-active-color-primary"
            data-bs-dismiss="modal"
          >
            <i id="close-modal" class="ki-outline ki-cross fs-1"></i>
          </div>
          <!--end Close-->
        </div>
        <!--end Modal header-->
        <!--begin Modal body-->
        <div class="modal-body py-lg-10 px-lg-10">
          <!--begin Stepper-->
          <div
            class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid"
            id="kt_modal_create_app_stepper"
          >
            <!--begin Aside-->
            <div
              class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-300px"
            >
              <!--begin Nav-->
              <div class="stepper-nav ps-lg-10">
                <div *ngFor="let step of steps; let i = index">
                  <!--begin Steps-->
                  <div
                    class="stepper-item"
                    data-kt-stepper-element="nav"
                    [class.current]="isActiveStep(i)"
                    [class.completed]="isStepCompleted(i)"
                    (click)="goToStep(i)"
                  >
                    <!--begin Wrapper-->
                    <div class="stepper-wrapper">
                      <!--begin Icon-->
                      <div class="stepper-icon w-40px h-40px">
                        <i
                          class="ki-outline ki-check stepper-check fs-2"
                          *ngIf="isStepCompleted(i)"
                        ></i>
                        <span
                          class="stepper-number"
                          *ngIf="!isStepCompleted(i)"
                          >{{ step.number }}</span
                        >
                      </div>
                      <!--end Icon-->
                      <!--begin Label-->
                      <div class="stepper-label">
                        <h3 class="stepper-title">{{ step.title }}</h3>
                        <div class="stepper-desc">{{ step.description }}</div>
                      </div>
                      <!--end Label-->
                    </div>
                    <!--end Wrapper-->
                    <!--begin Line-->
                    <div
                      class="stepper-line h-40px"
                      *ngIf="isNotLastStep(i)"
                    ></div>
                    <!--end Line-->
                  </div>
                  <!--end Steps-->
                </div>
              </div>
              <!--end Nav-->
            </div>
            <!-- end Aside -->

            <!--begin Content-->
            <div class="flex-row-fluid py-lg-5 px-lg-15">
              <!-- Step 1 Content -->
              <div class="step-content" *ngIf="activeStep.number === 1">
                <div class="w-100">
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Prénom</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre prénom"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="prenom"
                      placeholder="votre prénom"
                      [ngClass]="{
                        'is-invalid': citoyenForm.controls['prenom'].invalid,
                        'is-valid': citoyenForm.controls['prenom'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le prenom est requis',
                        control: citoyenForm.controls['prenom']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message: 'Le prenom doit avoir au minimum 3 caractères',
                        control: citoyenForm.controls['prenom']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'Le prenom doit avoir au maximum 100 caractères',
                        control: citoyenForm.controls['prenom']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span class="required">Nom</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre nom"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="nom"
                      placeholder="votre nom"
                      [ngClass]="{
                        'is-invalid': citoyenForm.controls['nom'].invalid,
                        'is-valid': citoyenForm.controls['nom'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le nom est requis',
                        control: citoyenForm.controls['nom']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message: 'Le nom doit avoir au minimum 3 caractères',
                        control: citoyenForm.controls['nom']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message: 'Le nom doit avoir au maximum 100 caractères',
                        control: citoyenForm.controls['nom']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Date de naissance</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre date de naissance"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="dateDeNaissance"
                      placeholder="votre date de naissance"
                      [ngClass]="{
                        'is-invalid':
                          citoyenForm.controls['dateDeNaissance'].invalid,
                        'is-valid':
                          citoyenForm.controls['dateDeNaissance'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le date de naissance est requis',
                        control: citoyenForm.controls['dateDeNaissance']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'Le dateDeNaissance doit avoir au maximum 100 caractères',
                        control: citoyenForm.controls['dateDeNaissance']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Lieu de naissance</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre lieu de naissance"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="lieuDeNaissance"
                      placeholder="votre lieu de naissance"
                      [ngClass]="{
                        'is-invalid':
                          citoyenForm.controls['lieuDeNaissance'].invalid,
                        'is-valid':
                          citoyenForm.controls['lieuDeNaissance'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le lieu de naissance est requis',
                        control: citoyenForm.controls['lieuDeNaissance']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message:
                          'Le lieu de naissance doit avoir au minimum 3 caractères',
                        control: citoyenForm.controls['lieuDeNaissance']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'Le lieu de naissance doit avoir au maximum 100 caractères',
                        control: citoyenForm.controls['lieuDeNaissance']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Pays de naissance</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre pays de naissance"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="paysDeNaissance"
                      placeholder="votre pays de naissance"
                      [ngClass]="{
                        'is-invalid':
                          citoyenForm.controls['paysDeNaissance'].invalid,
                        'is-valid':
                          citoyenForm.controls['paysDeNaissance'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le pays de naissance est requis',
                        control: citoyenForm.controls['paysDeNaissance']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message:
                          'Le pays de naissance doit avoir au minimum 3 caractères',
                        control: citoyenForm.controls['paysDeNaissance']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'Le pays de naissance doit avoir au maximum 100 caractères',
                        control: citoyenForm.controls['paysDeNaissance']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Numéro de téléphone</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre numéro de téléphone"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="tel"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="numeroDeTelephone"
                      placeholder="votre numéro de téléphone"
                      [ngClass]="{
                        'is-invalid':
                          citoyenForm.controls['numeroDeTelephone'].invalid,
                        'is-valid':
                          citoyenForm.controls['numeroDeTelephone'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le numero de telephone est requis',
                        control: citoyenForm.controls['numeroDeTelephone']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message:
                          'Le numero de telephone doit avoir 10 chaffres',
                        control: citoyenForm.controls['numeroDeTelephone']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'Le numero de telephone doit avoir 10 chaffres',
                        control: citoyenForm.controls['numeroDeTelephone']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Taille</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre Taille"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="number"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="taille"
                      placeholder="votre taille"
                      [ngClass]="{
                        'is-invalid': citoyenForm.controls['taille'].invalid,
                        'is-valid': citoyenForm.controls['taille'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'La taille est requise',
                        control: citoyenForm.controls['taille']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'min',
                        message: 'La taille doit avoir au minimum 100',
                        control: citoyenForm.controls['taille']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'max',
                        message: 'La taille doit avoir au maximum 300',
                        control: citoyenForm.controls['taille']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>photo</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre photo"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="photo"
                      placeholder="votre photo"
                      [ngClass]="{
                        'is-invalid': citoyenForm.controls['photo'].invalid,
                        'is-valid': citoyenForm.controls['photo'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'La photo est requise',
                        control: citoyenForm.controls['photo']
                      }"
                    ></ng-container>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Sexe</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Sélectionner votre sexe"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <select
                      formControlName="sexe"
                      class="form-select form-select-solid"
                      [ngClass]="{
                        'is-invalid': citoyenForm.controls['sexe'].invalid,
                        'is-valid': citoyenForm.controls['sexe'].valid
                      }"
                    >
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Le sexe est requis',
                          control: citoyenForm.controls['sexe']
                        }"
                      ></ng-container>
                      <option value="Masculin" selected>Masculin</option>
                      <option value="Feminin">Féminin</option>
                    </select>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Situation matrimoniale</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Sélectionner votre situation matrimoniale"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <select
                      formControlName="situationMatrimoniale"
                      class="form-select form-select-solid"
                      [ngClass]="{
                        'is-invalid':
                          citoyenForm.controls['situationMatrimoniale'].invalid,
                        'is-valid':
                          citoyenForm.controls['situationMatrimoniale'].valid
                      }"
                    >
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'La situation matrimoniale est requise',
                          control: citoyenForm.controls['situationMatrimoniale']
                        }"
                      ></ng-container>
                      <option value="celibataire" selected>Célibataire</option>
                      <option value="marie">Marié</option>
                      <option value="divorce">Divorcé</option>
                      <option value="veuf">Veuf</option>
                    </select>
                  </div>
                  <div class="fv-row mb-10" formGroupName="profession">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Profession</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Sélectionner votre profession"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <select
                      formControlName="id"
                      class="form-select form-select-solid"
                      [ngClass]="{
                        'is-invalid': citoyenForm.get('profession.id')?.invalid,
                        'is-valid': citoyenForm.get('profession.id')?.valid
                      }"
                    >
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'La profession est requise',
                          control: citoyenForm.get('profession.id')
                        }"
                      ></ng-container>
                      <option
                        *ngFor="let profession of professions"
                        [value]="profession.id"
                      >
                        {{ profession.secteurDactivites }}
                      </option>
                    </select>
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Lieu d'activité</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre lieu d'activité"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="lieuDactivites"
                      placeholder="votre lieu d'activité"
                      [ngClass]="{
                        'is-invalid':
                          citoyenForm.controls['lieuDactivites'].invalid,
                        'is-valid': citoyenForm.controls['lieuDactivites'].valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Le lieu d\'activite est requis',
                        control: citoyenForm.controls['lieuDactivites']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message:
                          'Le lieu d\'activite doit avoir au minimum 3 caractères',
                        control: citoyenForm.controls['lieuDactivites']
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message:
                          'Le lieu d\'activite doit avoir au maximum 255 caractères',
                        control: citoyenForm.controls['lieuDactivites']
                      }"
                    ></ng-container>
                  </div>
                  <!-- <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Empreinte digitale</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre empreinte digitale"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="empreinteDigitale"
                      placeholder="votre empreinte digitale"
                    />
                  </div>
                  <div class="fv-row mb-10">
                    <label
                      class="d-flex align-items-center fs-5 fw-semibold mb-2"
                    >
                      <span>Signature</span>
                      <span
                        class="ms-1"
                        data-bs-toggle="tooltip"
                        title="Entrer votre signature"
                      >
                        <i
                          class="ki-outline ki-information-5 text-gray-500 fs-6"
                        ></i>
                      </span>
                    </label>
                    <input
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      formControlName="signature"
                      placeholder="votre signature"
                    />
                  </div> -->
                </div>
              </div>
              <!-- end step 1 content -->

              <!-- Step 2 Content -->
              <div class="step-content" *ngIf="activeStep.number === 2">
                <div formArrayName="familles">
                  <div
                    *ngFor="let member of familles.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Prénom</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer le prénom"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="prenom"
                        placeholder="prénom"
                        [ngClass]="{
                          'is-invalid': member.get('prenom')?.invalid,
                          'is-valid': member.get('prenom')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Le prénom est requis',
                          control: member.get('prenom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'minlength',
                          message:
                            'Le prénom doit avoir au minimum 3 caractères',
                          control: member.get('prenom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'maxlength',
                          message:
                            'Le prénom doit avoir au maximum 100 caractères',
                          control: member.get('prenom')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Nom</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer le nom"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="nom"
                        placeholder="nom"
                        [ngClass]="{
                          'is-invalid': member.get('nom')?.invalid,
                          'is-valid': member.get('nom')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Le nom est requis',
                          control: member.get('nom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'minlength',
                          message: 'Le nom doit avoir au minimum 3 caractères',
                          control: member.get('nom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'maxlength',
                          message:
                            'Le nom doit avoir au maximum 100 caractères',
                          control: member.get('nom')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Âge</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer l'âge"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="number"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="age"
                        placeholder="âge"
                        [ngClass]="{
                          'is-invalid': member.get('age')?.invalid,
                          'is-valid': member.get('age')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'L\'age est requis',
                          control: member.get('age')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'min',
                          message: 'L\'age doit être au minimum 1',
                          control: member.get('age')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'max',
                          message: 'L\'age doit être au maximum 150',
                          control: member.get('age')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Sexe</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Sélectionner le sexe"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <select
                        formControlName="sexe"
                        class="form-select form-select-solid"
                        [ngClass]="{
                          'is-invalid': member.get('sexe')?.invalid,
                          'is-valid': member.get('sexe')?.valid
                        }"
                      >
                        <option value="Masculin">Masculin</option>
                        <option value="Feminin">Féminin</option>
                      </select>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Type</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Sélectionner le type"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <select
                        class="form-select form-select-solid"
                        formControlName="type"
                        [ngClass]="{
                          'is-invalid': member.get('type')?.invalid,
                          'is-valid': member.get('type')?.valid
                        }"
                      >
                        <option value="parent">Parent</option>
                        <option value="enfant">Enfant</option>
                        <option value="conjoint">Conjoint.e</option>
                      </select>
                    </div>
                    <div class="fv-row w-10 d-flex align-items-end mb-10">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeFamille(i)"
                      >
                        Supprimer
                      </button>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-active-light-primary"
                  (click)="addFamille()"
                >
                  Ajouter un membre de famille
                </button>
              </div>
              <!--end Step 2 Content -->

              <!-- Step 3 Content -->
              <div class="step-content" *ngIf="activeStep.number === 3">
                <div formArrayName="attacherFamilliales">
                  <div
                    *ngFor="
                      let attach of attacherFamilliales.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Prénom</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer le prénom"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="prenom"
                        placeholder="prénom"
                        [ngClass]="{
                          'is-invalid': attach.get('prenom')?.invalid,
                          'is-valid': attach.get('prenom')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Le prénom est requis',
                          control: attach.get('prenom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'minlength',
                          message:
                            'Le prénom doit avoir au minimum 3 caractères',
                          control: attach.get('prenom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'maxlength',
                          message:
                            'Le prénom doit avoir au maximum 100 caractères',
                          control: attach.get('prenom')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Nom</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer le nom"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="nom"
                        placeholder="nom"
                        [ngClass]="{
                          'is-invalid': attach.get('nom')?.invalid,
                          'is-valid': attach.get('nom')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Le nom est requis',
                          control: attach.get('nom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'minlength',
                          message: 'Le nom doit avoir au minimum 3 caractères',
                          control: attach.get('nom')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'maxlength',
                          message:
                            'Le nom doit avoir au maximum 100 caractères',
                          control: attach.get('nom')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Numéro de téléphone</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer le numéro de téléphone"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="numeroDeTelephone"
                        placeholder="numéro de téléphone"
                        [ngClass]="{
                          'is-invalid':
                            attach.get('numeroDeTelephone')?.invalid,
                          'is-valid': attach.get('numeroDeTelephone')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Le numero de telephone est requis',
                          control: attach.get('numeroDeTelephone')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'pattern',
                          message:
                            'Le numero de telephone doit etre un numero de telephone senegalais valide',
                          control: attach.get('numeroDeTelephone')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Adresse</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer l'adresse"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <input
                        type="text"
                        class="form-control form-control-lg form-control-solid"
                        formControlName="adresse"
                        placeholder="adresse"
                        [ngClass]="{
                          'is-invalid': attach.get('adresse')?.invalid,
                          'is-valid': attach.get('adresse')?.valid
                        }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'L\'adresse est requis',
                          control: attach.get('adresse')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'minlength',
                          message:
                            'L\'adresse doit avoir au minimum 3 caractères',
                          control: attach.get('adresse')
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'maxlength',
                          message:
                            'L\'adresse doit avoir au maximum 100 caractères',
                          control: attach.get('adresse')
                        }"
                      ></ng-container>
                    </div>
                    <div class="fv-row mb-10">
                      <label
                        class="d-flex align-items-center fs-5 fw-semibold mb-2"
                      >
                        <span>Lien de parenté</span>
                        <span
                          class="ms-1"
                          data-bs-toggle="tooltip"
                          title="Entrer le lien de parenté"
                        >
                          <i
                            class="ki-outline ki-information-5 text-gray-500 fs-6"
                          ></i>
                        </span>
                      </label>
                      <select
                        class="form-select form-select-solid"
                        formControlName="lienDeParente"
                        [ngClass]="{
                          'is-invalid': attach.get('lienDeParente')?.invalid,
                          'is-valid': attach.get('lienDeParente')?.valid
                        }"
                      >
                        <option value="pere" selected>Père</option>
                        <option value="mere">Mère</option>
                        <option value="tante">Tante</option>
                        <option value="oncle">Oncle</option>
                        <option value="soeur">Soeur</option>
                        <option value="frere">Frère</option>
                      </select>
                    </div>
                    <div class="fv-row w-10 d-flex align-items-end mb-10">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeAttacheFamilliale(i)"
                      >
                        Supprimer
                      </button>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-active-light-primary"
                  (click)="addAttacheFamilliale()"
                >
                  Ajouter un attache familiale
                </button>
              </div>
              <!--end Step 3 Content -->
              <!-- end form -->
            </div>
            <!-- end content -->
          </div>
        </div>
        <!--Start modal's Footer-->
        <div class="modal-footer d-flex flex-stack">
          <!-- First step: only "Next" button -->
          <button
            type="button"
            class="btn btn-primary btn-active-light-primary ms-auto"
            *ngIf="activeStep.number === 1"
            (click)="nextStep()"
          >
            Suivant
          </button>

          <!-- Intermediate steps: "Previous" and "Next" buttons -->
          <div
            *ngIf="isBetweenStep()"
            class="d-flex justify-content-between w-100"
          >
            <button
              type="button"
              class="btn btn-primary btn-active-light-primary me-2"
              (click)="prevStep()"
            >
              Precedant
            </button>
            <button
              type="button"
              class="btn btn-primary btn-active-light-primary ms-auto"
              (click)="nextStep()"
            >
              Suivant
            </button>
          </div>

          <!-- Last step: "Previous" and "Submit" buttons -->
          <div
            *ngIf="isLastStep()"
            class="d-flex justify-content-between w-100"
          >
            <button
              type="button"
              class="btn btn-primary btn-active-light-primary me-2"
              (click)="prevStep()"
            >
              Precedant
            </button>
            <button
              type="submit"
              class="btn btn-primary btn-active-light-primary ms-auto"
            >
              <!-- data-kt-stepper-action="submit" -->
              Soumettre
            </button>
          </div>
        </div>
        <!--End modal's Footer-->
      </form>
    </div>
  </div>
</div>
