<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!--begin Header-->
    <app-header></app-header>
    <!--end Header-->
    <!-- wrapper start -->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!--begin sidebar-->
      <app-sidebar></app-sidebar>
      <!--end sidebar-->
      <div class="wrapper">
        <div class="container">
          <div *ngIf="get_id() == 0" class="row justify-content-center">
            <!-- Carte pour app-map-chart -->
            <div class="col-md-12 mb-5">
              <div class="card">
                <div class="card-body">
                  <app-map-chart></app-map-chart>
                </div>
              </div>
            </div>

            <!-- Carte pour app-xy-chart -->
            <div class="col-md-12 mb-5">
              <div class="card">
                <div class="card-body">
                  <app-xy-chart></app-xy-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="card">
                <app-table></app-table>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- Footer -->
      </div>
    </div>
  </div>
</div>
