<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!--begin Header-->
    <app-header></app-header>
    <!--end Header-->
    <!-- wrapper start -->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!--begin sidebar-->
      <app-sidebar></app-sidebar>
      <!--end sidebar-->
      <!--begin Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
          <!--begin Content-->
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <app-table></app-table>
          </div>
          <!--end Content-->
        </div>
        <!--end Content wrapper-->
        <!--begin Footer-->
        <app-footer></app-footer>
        <!--end Footer-->
      </div>
    </div>
  </div>
</div>
