<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!--begin Header-->
    <app-header></app-header>
    <!--end Header-->
    <!-- wrapper start -->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!--begin sidebar-->
      <app-sidebar></app-sidebar>
      <!--end sidebar-->
      <!-- content start -->
      <router-outlet></router-outlet>
      <!-- content start -->
    </div>
    <!-- wrapper end -->
  </div>
  <!--end Page-->
</div>
