<!-- 404 Start -->
<div class="container-fluid pt-4 px-4">
  <div
    class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0"
  >
    <div class="col-md-6 text-center p-4">
      <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
      <h1 class="display-1 fw-bold">404</h1>
      <h1 class="mb-4">Page Introuvable</h1>
      <p class="mb-4">
        Nous sommes désolés, la page que vous avez cherchée n’existe pas sur
        notre site web ! Peut-être devriez-vous revenir à notre page d’accueil
        ou essayer d’utiliser la fonction de recherche ?
      </p>
      <a
        class="btn btn-primary rounded-pill py-3 px-5"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Revenir a la page d'acceuil</a
      >
    </div>
  </div>
</div>
<!-- 404 End -->
