<!-- Informations du citoyen -->
<div
  *ngIf="getid() != 0"
  id="kt_profile_details_view"
  class="card mb-5 mb-xl-10"
>
  <div class="card-header d-flex justify-content-center cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bold m-0">Informations du citoyen</h3>
    </div>
  </div>
  <div class="card-body p-9">
    <div class="row mb-7">
      <div class="col-12 d-flex justify-content-center mb-4">
        <div
          class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative"
        >
          <img src="assets/media/avatars/300-1.jpg" alt="image" />
          <div
            class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"
          ></div>
        </div>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold">Matricule</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ citoyen?.matricule }}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold">Nom complet</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"
          >{{ citoyen?.prenom }} {{ citoyen?.nom }}</span
        >
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold">Telephone</label>
      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bold fs-6 text-gray-800 me-2">{{
          citoyen?.numeroDeTelephone
        }}</span>
        <span class="badge badge-success">Verified</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold">Profession</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800 me-2">{{
          citoyen?.profession?.secteurDactivites
        }}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold">Date de Naissance</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{
          citoyen?.dateDeNaissance
        }}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold">Lieux de naissance</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{
          citoyen?.lieuDeNaissance
        }}</span>
      </div>
    </div>
    <div class="row mb-10">
      <label class="col-lg-4 fw-bold">Taille (cm)</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ citoyen?.taille }}</span>
      </div>
    </div>
    <div class="row mb-10">
      <label class="col-lg-4 fw-bold">Sexe</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ citoyen?.sexe }}</span>
      </div>
    </div>
    <div class="row mb-10">
      <label class="col-lg-4 fw-bold">Situation Matrimoniale</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{
          citoyen?.situationMatrimoniale
        }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Tableau Familles -->
<div *ngIf="getid() != 0" class="card mb-5 mb-xl-10">
  <div
    class="card-header d-flex justify-content-between align-items-center py-5 gap-2 gap-md-5"
  >
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
        <input
          type="text"
          data-kt-ecommerce-product-filter="search"
          class="form-control form-control-solid w-250px ps-12"
          placeholder="Rechercher une famille"
          [(ngModel)]="searchTextFamille"
        />
      </div>
    </div>
    <div
      class="card-toolbar flex-row-fluid gap-5 d-flex justify-content-between align-items-center"
    >
      <div class="d-flex gap-2">
        <div class="w-100 mw-150px">
          <select
            class="form-select form-select-solid"
            [(ngModel)]="itemsPerPageFamilles"
            (ngModelChange)="paginateFamilles()"
            (change)="changeItemsPerPageFamilles($event)"
          >
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
            <option [value]="75">75</option>
            <option [value]="100">100</option>
          </select>
        </div>
      </div>
      <div class="text-center flex-grow-1">
        <h3>Famille</h3>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <table class="table align-middle table-bordered table-row-dashed fs-6 gy-5">
      <thead>
        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-200px"><h3>Matricule</h3></th>
          <th class="min-w-200px"><h3>Prénom</h3></th>
          <th class="min-w-200px"><h3>Nom</h3></th>
          <th class="min-w-200px"><h3>Age</h3></th>
          <th class="min-w-200px"><h3>Sexe</h3></th>
          <th class="text-center min-w-100px"><h3>Statut</h3></th>
        </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
        <tr
          *ngFor="let famille of paginatedFamilles | search : searchTextFamille"
        >
          <td>{{ famille.matricule }}</td>
          <td>{{ famille.prenom }}</td>
          <td>{{ famille.nom }}</td>
          <td>{{ famille.age }}</td>
          <td>{{ famille.sexe }}</td>
          <td class="text-center">{{ famille.type }}</td>
        </tr>
        <tr *ngIf="paginatedFamilles.length === 0">
          <td colspan="3" class="text-center">
            <span class="text-gray-600"
              ><h3>Aucune donnée disponible pour cette table.</h3></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between">
      <div class="fs-6 fw-semibold text-gray-700">
        Affichage de
        {{ (currentPageFamilles - 1) * itemsPerPageFamilles + 1 }} à
        {{
          currentPageFamilles * itemsPerPageFamilles > paginatedFamilles.length
            ? paginatedFamilles.length
            : currentPageFamilles * itemsPerPageFamilles
        }}
        sur {{ paginatedFamilles.length }} entrées
      </div>
      <ul class="pagination">
        <li
          class="page-item previous"
          [class.disabled]="currentPageFamilles === 1"
        >
          <span
            class="page-link"
            (click)="previousPageFamilles()"
            [style.cursor]="
              currentPageFamilles === 1 ? 'not-allowed' : 'pointer'
            "
          >
            <i class="previous"></i> Précédent
          </span>
        </li>
        <li
          class="page-item"
          *ngFor="let page of getPagesFamilles()"
          [class.active]="page === currentPageFamilles"
        >
          <span
            class="page-link"
            (click)="goToPageFamilles(page)"
            [style.cursor]="
              page === currentPageFamilles ? 'default' : 'pointer'
            "
            >{{ page }}</span
          >
        </li>
        <li
          class="page-item next"
          [class.disabled]="currentPageFamilles === totalPagesFamilles"
        >
          <span
            class="page-link"
            (click)="nextPageFamilles()"
            [style.cursor]="
              currentPageFamilles === totalPagesFamilles
                ? 'not-allowed'
                : 'pointer'
            "
            >Suivant <i class="next"></i
          ></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Tableau Attaches Familiales -->
<div *ngIf="getid() != 0" class="card mb-5 mb-xl-10">
  <div
    class="card-header d-flex justify-content-between align-items-center py-5 gap-2 gap-md-5"
  >
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <i class="ki-outline ki-magnifier fs-3 position-absolute ms-4"></i>
        <input
          type="text"
          data-kt-ecommerce-product-filter="search"
          class="form-control form-control-solid w-250px ps-12"
          placeholder="Rechercher une famille"
          [(ngModel)]="searchTextAttache"
        />
      </div>
    </div>
    <div
      class="card-toolbar flex-row-fluid gap-5 d-flex justify-content-between align-items-center"
    >
      <div class="d-flex gap-2">
        <div class="w-100 mw-150px">
          <select
            class="form-select form-select-solid"
            [(ngModel)]="itemsPerPageAttaches"
            (ngModelChange)="paginateAttaches()"
            (change)="changeItemsPerPageAttaches($event)"
          >
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
            <option [value]="75">75</option>
            <option [value]="100">100</option>
          </select>
        </div>
      </div>
      <div class="text-center flex-grow-1">
        <h3>Attaches Familiales</h3>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <table class="table align-middle table-bordered table-row-dashed fs-6 gy-5">
      <thead>
        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-200px"><h3>Matricule</h3></th>
          <th class="min-w-200px"><h3>Prénom</h3></th>
          <th class="min-w-200px"><h3>Nom</h3></th>
          <th class="min-w-200px"><h3>Age</h3></th>
          <th class="min-w-200px"><h3>Sexe</h3></th>
          <th class="text-center min-w-100px"><h3>Statut</h3></th>
        </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
        <tr
          *ngFor="let attache of paginatedAttaches | search : searchTextAttache"
        >
          <td>{{ attache.matricule }}</td>
          <td>{{ attache.prenom }}</td>
          <td>{{ attache.nom }}</td>
          <td>{{ attache.age }}</td>
          <td>{{ attache.sexe }}</td>
          <td class="text-center">{{ attache.type }}</td>
        </tr>
        <tr *ngIf="paginatedAttaches.length === 0">
          <td colspan="3" class="text-center">
            <span class="text-gray-600"
              ><h3>Aucune donnée disponible pour cette table.</h3></span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between">
      <div class="fs-6 fw-semibold text-gray-700">
        Affichage de
        {{ (currentPageAttaches - 1) * itemsPerPageAttaches + 1 }} à
        {{
          currentPageAttaches * itemsPerPageAttaches > paginatedAttaches.length
            ? paginatedAttaches.length
            : currentPageAttaches * itemsPerPageAttaches
        }}
        sur {{ paginatedAttaches.length }} entrées
      </div>
      <ul class="pagination">
        <li
          class="page-item previous"
          [class.disabled]="currentPageAttaches === 1"
        >
          <span
            class="page-link"
            (click)="previousPageAttaches()"
            [style.cursor]="
              currentPageAttaches === 1 ? 'not-allowed' : 'pointer'
            "
          >
            <i class="previous"></i> Précédent
          </span>
        </li>
        <li
          class="page-item"
          *ngFor="let page of getPagesAttaches()"
          [class.active]="page === currentPageAttaches"
        >
          <span
            class="page-link"
            (click)="goToPageAttaches(page)"
            [style.cursor]="
              page === currentPageAttaches ? 'default' : 'pointer'
            "
            >{{ page }}</span
          >
        </li>
        <li
          class="page-item next"
          [class.disabled]="currentPageAttaches === totalPagesAttaches"
        >
          <span
            class="page-link"
            (click)="nextPageAttaches()"
            [style.cursor]="
              currentPageAttaches === totalPagesAttaches
                ? 'not-allowed'
                : 'pointer'
            "
            >Suivant <i class="next"></i
          ></span>
        </li>
      </ul>
    </div>
  </div>
</div>
