<!-- Navbar Header -->
<nav
  class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
>
  <div class="container-fluid">
    <nav
      class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
    >
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-search pe-1">
            <i class="fa fa-search search-icon"></i>
          </button>
        </div>
        <input type="text" placeholder="Search ..." class="form-control" />
      </div>
    </nav>

    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
      <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
        <i class="fa fa-search"></i>
        <ul class="dropdown-menu dropdown-search animated fadeIn">
          <form class="navbar-left navbar-form nav-search">
            <div class="input-group">
              <input
                type="text"
                placeholder="Search ..."
                class="form-control"
              />
            </div>
          </form>
        </ul>
      </li>

      <li
        class="nav-item topbar-user dropdown hidden-caret d-flex align-items-center"
      >
        <div class="avatar-sm me-2">
          <img
            [src]="user?.image || './assets/img/profile.jpg'"
            alt="..."
            class="avatar-img rounded-circle"
          />
        </div>
        <span class="profile-username">
          <span class="fw-bold">{{ user?.prenom }} {{ user?.nom }}</span>
        </span>
      </li>
    </ul>
  </div>
</nav>
<!-- End Navbar -->
